argparse
asgiref
bs4
celery
coreapi
Django
django-admin
django-celery-beat
django-celery-results
django-contact-form
django-cors-headers
django-cryptography-django5
django-import-export
django-oauth-toolkit
django-ratelimit
django-rosetta
djangorestframework
drf-yasg
geoip2
google-api-python-client
graypy
gunicorn
openpyxl
pandas
pillow
psutil
psycopg2-binary
pyarrow
pycryptodome
python-decouple
python-dotenv
python-slugify
pytz
redis
requests_cache
setuptools
sqlparse
watchdog
whitenoise
