{% extends "monitor_base.html" %}
{% load static %}
{% load form_tags %}
{% block content %}

<div x-data="sensorData()" x-init="init()" class="box2">
    <h2>Sensors &nbsp; <a @click="showAddSensorForm()"><i class="bi bi-plus-square-fill"></i></a></h2>
    <div class="box-content">
        <table id="sensor-table" class="table">
            <template x-for="sensor in sensors" :key="sensor.id">
                <tr>
                    <td nowrap><span x-text="sensor.name"></span></td>
                    <td nowrap><span x-text="sensor.frequency"></span> s.</td>
                    <td nowrap>
                        <a @click="editSensor(sensor)"><i class="bi bi-pencil-square"></i></a>
                        <a @click="deleteSensor(sensor.id)"><i class="bi bi-trash3-fill"></i></a>
                        <a @click="selectSensor(sensor)"><i class="bi bi-eye"></i></a> <!-- Load actions when sensor is clicked -->
                    </td>
                </tr>
            </template>
        </table>
    </div>

    <!-- Sensor Add/Edit Form -->
    <div x-show="isSensorFormVisible" class="box-content">
        <form @submit.prevent="submitSensorForm()">
            <div class="row">
                <div class="col">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control" x-model="sensorForm.name" required>
                </div>
                <div class="col">
                    <label class="form-label">Frequency (seconds):</label>
                    <input type="number" class="form-control" x-model="sensorForm.frequency" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label">Base URL</label>
                    <input type="text" class="form-control" x-model="sensorForm.url" required>
                </div>
            </div>                    
            
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success" x-text="sensorFormMode === 'edit' ? 'Update' : 'Add'"></button>
                <button type="button" class="btn btn-secondary" @click="cancelSensorForm()">Cancel</button>
            </div>
        </form>
    </div>

</div>

<div x-data="actionData()" x-init="clearActions()" class="box2">
    <h2>Actions &nbsp; <a @click="showAddActionForm()"><i class="bi bi-plus-square-fill"></i></a></h2>
    <div class="box-content">
        <table id="action-table" class="table table-striped">
            <template x-for="action in actions" :key="action.id">
                <tr>
                    <td nowrap><span x-text="action.action_name"></span></td>
                    <td nowrap>
                        <a @click="editAction(action)"><i class="bi bi-pencil-square"></i></a>
                        <a @click="deleteAction(action.id)"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            </template>
        </table>        
    </div>

    <!-- Action Add/Edit Form -->
    <div x-show="isActionFormVisible" class="box-content">
        <form @submit.prevent="submitActionForm()">
            <div>
                <label for="action-name" class="form-label">Action Name:</label>
                <input type="text" class="form-control" id="action-name" x-model="actionForm.action_name" required>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success" x-text="actionFormMode === 'edit' ? 'Update' : 'Add'"></button>
                <button type="button" class="btn btn-secondary" @click="cancelActionForm()">Cancel</button>
            </div>
        </form>
    </div>

</div>


    
<script>
    function sensorData() {
        return {
            sensors: [],
            sensorForm: { name: '',url: '', frequency: 0 },
            isSensorFormVisible: false,
            sensorFormMode: 'add',
            async init() {
                await this.fetchSensors();
            },
            async fetchSensors() {
                try {
                    const response = await fetch('/api/sensors/');
                    if (response.ok) {
                        this.sensors = await response.json();
                    } else {
                        console.error('Failed to fetch sensors');
                    }
                } catch (error) {
                    console.error('Error fetching sensors:', error);
                }
            },
            showAddSensorForm() {
                this.sensorFormMode = 'add';
                this.sensorForm = { name: '', frequency: 0 };
                this.isSensorFormVisible = true;
            },
            editSensor(sensor) {
                this.sensorFormMode = 'edit';
                this.sensorForm = { ...sensor };
                this.isSensorFormVisible = true;
                this.dispachSensor();
            },
            cancelSensorForm() {
                this.isSensorFormVisible = false;
            },
            async submitSensorForm() {
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const url       = this.sensorFormMode === 'edit' ? `/api/sensors/${this.sensorForm.id}/` : '/api/sensors/';
                const method    = this.sensorFormMode === 'edit' ? 'PUT' : 'POST';
                try {
                    const response = await fetch(url, {
                        method: method,
                        headers: {'Content-Type': 'application/json','X-CSRFToken': csrfToken},
                        body: JSON.stringify(this.sensorForm)
                    });
                    if (response.ok) {
                        this.isSensorFormVisible = false;
                        await this.fetchSensors();
                    } else {
                        console.error('Failed to submit sensor form');
                    }
                } catch (error) {
                    console.error('Error submitting sensor form:', error);
                }
            },
            selectSensor(sensor) {
                this.isSensorFormVisible = false;
                this.dispachSensor();
            },
            dispachSensor(){
                // Dispatch a custom event when a sensor is selected
                window.dispatchEvent(new CustomEvent('sensor-selected', { detail: { sensorId: this.sensor.id } }));
            },
            async deleteSensor(id) {
                try {
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    const response = await fetch(`/api/sensors/${id}/`, {
                        method: 'DELETE',
                        headers: {'X-CSRFToken': csrfToken, 'Content-Type': 'application/json'},
                        credentials: 'same-origin'
                    });
                    if (response.ok) {
                        await this.fetchSensors();
                    } else {
                        console.error('Failed to delete sensor', response.statusText);
                    }
                } catch (error) {
                    console.error('Error deleting sensor:', error);
                }
            }
        };
    }

    function actionData() {
        return {
            actions: [],
            actionForm: { action_name: '' },
            isActionFormVisible: false,
            actionFormMode: 'add',
            async fetchActions(sensorId) {
                try {
                    const response = await fetch(`/api/actions/?sensor=${sensorId}`);
                    if (response.ok) {
                        this.actions = await response.json();
                    } else {
                        console.error('Failed to fetch actions');
                    }
                } catch (error) {
                    console.error('Error fetching actions:', error);
                }
            },
            clearActions() {
                this.actions = [];
            },
            init() {
                // Listen for the custom event and fetch actions based on the selected sensor
                window.addEventListener('sensor-selected', (event) => {
                    console.log('sensor-selected',event.detail.sensorId)
                    this.clearActions();
                    this.fetchActions(event.detail.sensorId);
                    this.actionForm.sensor = event.detail.sensorId;
                    this.selectedSensorId  = event.detail.sensorId;
                    this.isActionFormVisible = false;
                });
            },
            showAddActionForm() {
                this.actionFormMode = 'add';
                this.actionForm = { action_name: '' };
                this.isActionFormVisible = true;
            },
            editAction(action) {
                this.actionFormMode = 'edit';
                this.actionForm = { ...action };
                this.isActionFormVisible = true;
            },
            cancelActionForm() {
                this.isActionFormVisible = false;
            },
            async submitActionForm() {
                const csrfToken        = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const url              = this.actionFormMode === 'edit' ? `/api/actions/${this.actionForm.id}/` : '/api/actions/';
                const method           = this.actionFormMode === 'edit' ? 'PUT' : 'POST';
                try {
                    console.log(this.actionForm)
                    const response = await fetch(url, {
                        method: method,
                        headers: {'Content-Type': 'application/json','X-CSRFToken': csrfToken},
                        body: JSON.stringify(this.actionForm)
                    });
                    if (response.ok) {
                        this.isActionFormVisible = false;
                        await this.fetchActions(this.selectedSensorId); // Ensure actions are refreshed
                    } else {
                        console.error('Failed to submit action form');
                    }
                } catch (error) {
                    console.error('Error submitting action form:', error);
                }
            },
            async deleteAction(id) {
                try {
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    const response = await fetch(`/api/actions/${id}/`, {
                        method: 'DELETE',
                        headers: {'X-CSRFToken': csrfToken, 'Content-Type': 'application/json'},
                        credentials: 'same-origin'
                    });
                    if (response.ok) {
                        this.clearActions();
                    } else {
                        console.error('Failed to delete action', response.statusText);
                    }
                } catch (error) {
                    console.error('Error deleting action:', error);
                }
            }
        };
    }
</script>

{% endblock %}
