{% extends "monitor_base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4">Sensors Dashboard</h1>


<div class="container my-4" x-data="sensorDashboard()">
    <div x-show="showEmptyResult">
        <p class="mb-4">
            This dashboard allows you to monitor and manage all your sensors in real time. 
            You can view sensor actions, check the latest status, and gain insights into their performance. 
        </p>
        <p class="text-center p-0">
            <img src="/static/img/14181654.png" width="320">
        </p>
        <p class="mb-4">
            For more detailed configuration or to add new sensors and actions, head to the <a href="{% url 'web_config' %}">Config</a>
        </p>
    </div>
    <div class="row" id="sensor-container">
        <!-- Sensors will be loaded here dynamically with Alpine.js -->
        <template x-for="sensor in sensors" :key="sensor.id">
            <div class="col-12 col-sm-6 col-lg-4 mb-3">
                <div class="card box">
                    <div class="card-header pt-3">
                        <h5>
                            <img :src="sensor.favico ? sensor.favico : '/static/img/default-favicon.ico'" height="15">
                            <span x-text="sensor.name"></span>&nbsp;                            
                        </h5>
                    </div>

                    <div class="card-body">
                        <p class="card-text">
                            <a :href="sensor.url" class="sensor_url" x-text="sensor.short_url"></a>
                            <span class="frequency" x-text="'(' + sensor.frequency + ' s.)'"></span>
                        </p>
                        <!-- Actions for this sensor -->
                        <template x-for="action in actions[sensor.id]" :key="action.id">
                            <div class="action-graph">
                                <h3 class="board">
                                    <span x-text="action.action_name + ' (' + action.action_type + ')'"></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" @click.prevent="runTest(action.id)"><i class="bi bi-play-circle-fill text-success"></i></a>
                                    <div x-show="testResults[action.id]" class="board-test-img">
                                        <img 
                                            x-bind:src="testResults[action.id] ? testResults[action.id].img : '/static/img/pixel.png'" 
                                            width="45" 
                                            style="margin: 0px 3px 3px 38px;"
                                            alt="Test Result"
                                            x-bind:title="testResults[action.id] ? testResults[action.id].message + ' ' + testResults[action.id].response.actual_value : 'No results available'"
                                            >
                                    </div>
                                </h3>
                                <div :id="'chart-action-' + action.id" class="chart-container" style="height: 30px; width: 90%;"></div>
                                <template x-if="action.assertion_type === 'screenshot'">
                                    <div class="image-board">
                                        <img :src="`/api/action/${action.id}/screenshot/`" class="img-fluid">
                                    </div>
                                </template>
                            </div>
                        </template>

                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

<script>
    function sensorDashboard() {
        return {
            sensors          : [],
            actions          : {},
            selectedTimezone : localStorage.getItem('selectedTimezone') || 'UTC',
            testResults      : {},
            showEmptyResult   : false,

            init() {
                this.fetchSensors();
                window.addEventListener('resize', () => {this.resizeAllCharts();});            
            },            

            fetchSensors() {
                fetch('/api/sensors/')
                    .then(response => response.json())
                    .then(data => {
                        this.sensors = data;
                        this.sensors.forEach(sensor => {
                            this.fetchActions(sensor.id);
                        });
                        if(data.length > 0){
                            this.showEmptyResult=false;
                            console.log("DATA",this.showEmptyResult,data)
                        }else{
                            this.showEmptyResult=true;
                            console.log("NO DATA",this.showEmptyResult,data)
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching sensors:', error);
                    });
            },

            fetchActions(sensorId) {
                fetch(`/api/actions/?sensor=${sensorId}`)
                    .then(response => response.json())
                    .then(actions => {
                        this.actions[sensorId] = actions;
                        this.$nextTick(() => {
                            actions.forEach(action => {
                                this.fetchTestResults(action.id);
                            });
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching actions:', error);
                    });
                },            

            fetchTestResults(actionId) {
                if (!window.testResultsCache) {
                    window.testResultsCache = {};
                }

                if (window.testResultsCache[actionId]) {
                    this.renderTimeline(actionId, window.testResultsCache[actionId]);
                } else {
                    fetch(`/api/test-results/?action=${actionId}`)
                        .then(response => response.json())
                        .then(result => {
                            window.testResultsCache[actionId] = result;
                            console.log("RES",result)
                            this.renderTimeline(actionId, result);
                        })
                        .catch(error => {
                            console.error('Error fetching test results:', error);
                        });
                }
            },

            deleteSensor(sensorId) {
                if (confirm('Delete this sensor? THIS ACTION CANNOT BE UNDONE.')) {
                    fetch(`/api/sensors/${sensorId}/`, { method: 'DELETE' })
                        .then(() => {
                            this.sensors = this.sensors.filter(sensor => sensor.id !== sensorId);
                        })
                        .catch(error => {
                            console.error('Error deleting sensor:', error);
                        });
                }
            },

            renderTimeline(actionId, testResults) {
                const chartElement         = d3.select(`#chart-action-${actionId}`);
                chartElement.style.display = 'none';
                chartElement.innerHTML     = ""; // Clear previous chart

                if (testResults.length === 0) {
                    chartElement.innerHTML     = "No data";
                    chartElement.style.display = 'block';
                    return;
                }

                const margin = {top: 0, right: 25, bottom: 15, left: 0};
                const width  = (chartElement.node().parentNode.clientWidth - margin.left - margin.right);
                const height = 20 - margin.top - margin.bottom;

                const svg = chartElement
                    .append("svg")
                    .attr("width"   , (width + margin.left + margin.right))
                    .attr("height"  , height + margin.top + margin.bottom)
                    .attr("viewBox" , `0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`)
                    .attr("preserveAspectRatio", "xMinYMin meet")
                    .append("g")
                    .attr("transform", `translate(${margin.left},${margin.top})`);

                const parseTime = d3.isoParse;

                const data = testResults.map(result => ({
                    id         : parseInt(result.id),
                    action_id  : parseInt(result.action),
                    timestamp  : formatDate(result.timestamp),
                    value      : result.actual_value,
                    body       : result.body
                }));

                // Create a tooltip div (hidden by default)
                const tooltip = d3.select("body").append("div")
                    .attr("class", "tooltip")
                    .style("position", "absolute")
                    .style("padding", "5px")
                    .style("background", "rgba(0, 0, 0, 0.7)")
                    .style("color", "#fff")
                    .style("border-radius", "3px")
                    .style("pointer-events", "none")
                    .style("opacity", 0); // Hidden initially

                const x = d3.scaleTime()
                    .domain(d3.extent(data, d => d.timestamp))
                    .range([0, width]);
                    svg.append("g")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(x).ticks(5).tickFormat(d => {
                        const timezone = localStorage.getItem('selectedTimezone') || 'UTC';
                        return moment(d).tz(timezone).format("HH:mm"); // Use Moment.js to format in 24-hour time
                    }))
                    .selectAll("text")  // Select all the tick text elements
                    .style("font-size", "0.45rem");  // Set the font size                    ;

                const colorScale = d3.scaleOrdinal()
                    .domain(["200"  , "403"   , "500", "404", "fail"])
                    .range(["green" , "orange", "red", "red", "red"]);

                svg.selectAll("rect")
                    .data(data)
                    .enter()
                    .append("rect")
                    .attr("x", d => x(d.timestamp))
                    .attr("y", 0)
                    .attr("width", 3) // Fixed width for better visibility of events
                    .attr("height", height)
                    .attr("fill", d => colorScale(d.value))
                    .on("mouseover", function (event, d) {
                        const content = d.body ? d.body : d.value;
                        tooltip.transition().duration(200).style("opacity", 0.8);
                        tooltip.html(`${content}`)
                            .style("left", (event.pageX + 5) + "px")
                            .style("top", (event.pageY - 28) + "px");
                    })
                    .on("mousemove", function (event) {
                        tooltip.style("left", (event.pageX + 5) + "px")
                            .style("top", (event.pageY - 28) + "px");
                    })
                    .on("mouseout", function () {
                        tooltip.transition().duration(500).style("opacity", 0);
                    });

                    chartElement.style.display = 'block';
            },

            resizeAllCharts() {
                d3.selectAll(".chart-container").classed("hidden", true);
                const self = this; // Store reference to the Alpine component instance
                clearTimeout(window.resizeTimeout);
                window.resizeTimeout = setTimeout(() => {
                    d3.selectAll(".chart-container").each((_, i, nodes) => {
                        const actionId = nodes[i].id.split("-action-")[1];
                        if (window.testResultsCache && window.testResultsCache[actionId]) {
                            // Clear the previous chart properly
                            d3.select(`#chart-action-${actionId}`).selectAll("*").remove();
                            // Redraw the chart using the latest cached data
                            self.renderTimeline(actionId, window.testResultsCache[actionId]);
                        }
                    });
                    // Remove the 'hidden' class to trigger the fade-in effect after re-rendering
                    setTimeout(() => {
                        d3.selectAll(".chart-container").classed("hidden", false);
                    }, 150); // Add a small delay to ensure renderTimeline has enough time to finish                    
                }, 150);
            },

            async runTest(actionId) {
                const result = await testAction(actionId,(result)=>{
                    this.testResults = { ...this.testResults, [actionId]: result };
                    console.log(this.testResults)
                });
            }
        };
    }

    document.addEventListener('alpine:init', () => {
        Alpine.data('sensorDashboard', sensorDashboard);
    });
</script>
{% endblock %}
