{% extends "monitor_base.html" %}
{% load static %}
{% load form_tags %}
{% block content %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('sensorState', {
            sensors: [],
            showEmptyResult: false,
        });
    });
</script>

<h1 class="mb-2">
    <!-- <a href="{% url 'web_board' %}"><button class="btn btn-primary"><i class="bi bi-arrow-left-square-fill"></i>&nbsp;Board</button></a> -->
    Sensors Config
</h1>

<div x-data="sensorData()" x-init="fetchSensors()" class="box2">
    <h2>Sensors &nbsp; <a @click="showAddSensorForm()"><i class="bi bi-plus-square-fill"></i></a></h2>
    <div class="box-content">
        <table id="sensor-table table-striped" class="table">
            <template x-for="(sensor, index) in sensors" :key="sensor.id" :key="sensor.id">
                <tr :class="index % 2 === 0 ? 'table-row-light' : 'table-row-dark'">
                    <td nowrap><span x-text="sensor.name"></span></td>
                    <td nowrap><span x-text="sensor.frequency"></span> s.</td>
                    <td nowrap>
                        <a @click="editSensor(sensor)"><i class="bi bi-pencil-square"></i></a>
                        &nbsp;
                        <a @click="selectSensor(sensor)"><i class="bi bi-eye"></i></a>
                        &nbsp;
                        <a @click="deleteSensor(sensor.id)"><i class="bi bi-trash3-fill text-danger"></i></a>
                    </td>
                </tr>
            </template>
        </table>
    </div>

    <!-- Sensor Add/Edit Form -->
    <div x-show="isSensorFormVisible" class="box-content">
        <form @submit.prevent="submitSensorForm()">
            <div class="row">
                <div class="col">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control" x-model="sensorForm.name" required>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.name" x-text="errors.name ? errors.name[0] : ''"></div>
                </div>
                <div class="col">
                    <label class="form-label">Frequency (seconds):</label>
                    <input type="number" class="form-control" x-model="sensorForm.frequency" required>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.frequency" x-text="errors.frequency ? errors.frequency[0] : ''"></div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label">Base URL</label>
                    <input type="text" class="form-control" x-model="sensorForm.url" required>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.url" x-text="errors.url ? errors.url[0] : ''"></div>

                </div>
            </div>                    
            
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-sm btn-success" x-text="sensorFormMode === 'edit' ? 'Update' : 'Add'"></button>
                <button type="button" class="btn btn-sm btn-secondary" @click="cancelSensorForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div x-data="actionData()" x-init="clearActions()" class="box2">
    <h2>
        <span x-text="`${selectedSensorName?selectedSensorName:'Actions'}`"></span>
        <span x-show="selectedSensorId">
            &nbsp; <a @click="showAddActionForm()"><i class="bi bi-plus-square-fill"></i></a>
        </span>
    </h2>
    <div class="box-content">
        <table id="action-table" class="table table-striped">
            <template x-for="(action, index) in actions" :key="action.id">
                <tr :class="index % 2 === 0 ? 'table-row-light' : 'table-row-dark'">
                    <td nowrap><span x-text="action.action_name"></span></td>
                    <td nowrap><span x-text="formatAssertionType(action.id)"></span></td>
                    <td nowrap>
                        <a @click="editAction(action)"><i class="bi bi-pencil-square"></i></a>
                        <a href="#" @click.prevent="runTest(action.id)"><i class="bi bi-play-circle-fill text-success"></i></a>
                        <a @click="deleteAction(action.id)"><i class="bi bi-trash3-fill text-danger"></i></a>
                        <div class="board-test-img">
                            <img x-show="testResults[action.id]"
                                x-bind:src="testResults[action.id] ? testResults[action.id].img : '/static/img/pixel.png'" 
                                width="35" 
                                style="margin: 0px 3px 3px 0px;"
                                x-bind:title="testResults[action.id] ? testResults[action.id].response : ''"
                            >
                            <img x-show="!testResults[action.id] && action.img"
                                x-bind:src="!testResults[action.id] && action.img ? action.img: '/static/img/pixel.png'" 
                                width="35" 
                                style="margin: 0px 3px 3px 0px;"
                                x-bind:title="action.latest_test_result ? 'Expected: ' + action.latest_test_result.expected_value + ', Actual: ' + action.latest_test_result.actual_value : ''"
                            >                                 
                        </div>
                    </td>
                </tr>
            </template>
        </table>        
    </div>

    <!-- Action Add/Edit Form -->
    <div x-show="isActionFormVisible" class="box-content">
        <form @submit.prevent="submitActionForm()">
            <div class="row">
                <div class="col actionUrl" x-show="actionForm.sensor && actionForm.sensor.url">
                    <a :href="`${actionForm.sensor && actionForm.sensor.url ? actionForm.sensor.url+actionForm.action_path : ''}`" x-text="`${actionForm.sensor ? actionForm.sensor.url+actionForm.action_path : ''}`" target="_blank"></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="action-name" class="form-label">Action Name:</label>
                    <input type="text" class="form-control" id="action-name" x-model="actionForm.action_name" required>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.action_name" x-text="errors.action_name ? errors.action_name[0] : ''"></div>
                </div>
                <div class="col">
                    <label for="action-path" class="form-label">Action Path:</label>
                    <input type="text" class="form-control" id="action-path" x-model="actionForm.action_path" required>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.action_path" x-text="errors.action_path ? errors.action_path[0] : ''"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="assertion-type" class="form-label">Assertion Type:</label>
                    <select class="form-select" id="assertion-type" x-model="actionForm.assertion_type" @change="updateVisibilityFlags()" required>
                        <template x-for="assertion in ASSERTION_TYPES" :key="assertion.value">
                            <option :value="assertion.value" x-text="assertion.label"></option>
                        </template>
                    </select>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.assertion_type" x-text="errors.assertion_type ? errors.assertion_type[0] : ''"></div>
                </div>
            </div>
            <!-- ---------- conditional diaplay ----------- -->
            <div class="row" x-show="showActionType">
                <div class="col">
                    <label for="action-type" class="form-label">Action Type:</label>
                    <select class="form-select" id="action-type" x-model="actionForm.action_type" required>
                        <template x-for="verb in HTTP_VERBS" :key="verb.value">
                            <option :value="verb.value" x-text="verb.label"></option>
                        </template>
                    </select>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.action_type" x-text="errors.action_type ? errors.action_type[0] : ''"></div>
                </div>
                <div class="col">
                    <label for="expected-value" class="form-label" x-text="`${expectedValueText}`">Expected value:</label>
                    <input type="text" class="form-control" id="expected-value" x-model="actionForm.expected_value" required>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.expected_value" x-text="errors.expected_value ? errors.expected_value[0] : ''"></div>
                </div>                
            </div>

            <div class="row" x-show="showSeleniumScript">
                <div class="col">
                    <label for="selenium-script" class="form-label">Selenium Script:</label>
                    <textarea class="form-control" id="selenium-script" x-model="actionForm.selenium_script" rows="3"></textarea>
                    <div class="text-danger" x-show="errors.selenium_script" x-text="errors.selenium_script ? errors.selenium_script[0] : ''"></div>
                </div>
            </div>

            <div class="row" x-show="showPayload">
                <div class="col">
                    <label for="payload" class="form-label">Payload (JSON):</label>
                    <textarea class="form-control" id="payload" x-model="actionForm.payload" rows="3"></textarea>
                    <!-- Display error if exists -->
                    <div class="text-danger" x-show="errors.payload" x-text="errors.payload ? errors.payload[0] : ''"></div>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-sm btn-success" x-text="actionFormMode === 'edit' ? 'Update' : 'Add'"></button>
                <button type="button" class="btn btn-sm btn-secondary" @click="cancelActionForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div x-data>
    <div class="row mb-2 px-3"  x-show="$store.sensorState.showEmptyResult">
        <div class="row px-4">
            On this page, you can manage your "sensors" and their "actions". 
            Add, edit, or delete your sensors, and configure actions for each one to monitor different aspects. 
            This configuration will help you tailor the monitoring process according to your needs.
            <p class="text-center p-0">
                <img src="/static/img/18151337.png" width="420" class="img-fluid" >
            </p>        
        </div>
    </div>
</div>


<script>
const user = parseInt({{request.user.id}});
</script>
    
<script>
    function sensorData() {
        return {
            sensors                : [],
            sensorForm             : { name: '',url: '', frequency: 0, user:user },
            isSensorFormVisible    : false,
            sensorFormMode         : 'add',
            errors                 : {},
            showmptyResult         : false,

            async init() {
                this.updateHash(window.location.hash);
                window.addEventListener('SensorHashchange', () => {this.updateHash(window.location.hash);});                                
            },

            updateHash(hash) {
                if (hash) {
                    let url_hash = hash.substring(1).split('-');
                    if(url_hash[0]){
                        this.selectedId = url_hash[0];
                        return
                    }
                }
                this.selectedId = null; // Reset if there's no hash
                return
            },

            async fetchSensors() {
                try {
                    const response = await fetch('/api/sensors/');
                    if (response.ok) {
                        this.sensors = await response.json();
                        Alpine.store('sensorState').sensors = this.sensor;
                        if (Array.isArray(this.sensors) && this.sensors.length > 0) {
                            if(this.selectedId){
                                const element = this.sensors.find(sensor => (sensor && parseInt(sensor.id) === parseInt(this.selectedId)) ? true:false);
                                this.selectSensor(element);
                            }else{
                                const first = this.sensors[0];
                                this.selectSensor(first);
                            }
                            Alpine.store('sensorState').showEmptyResult = false;
                        }else{
                            Alpine.store('sensorState').showEmptyResult = true;
                        }    
                    } else {
                        console.error('Failed to fetch sensors');
                    }
                } catch (error) {
                    console.error('Error fetching sensors:', error);
                }
                await Alpine.nextTick();
            },

            showAddSensorForm() {
                this.sensorFormMode = 'add';
                this.sensorForm = { name: '', frequency: 0 };
                this.isSensorFormVisible = true;
            },

            editSensor(sensor) {
                this.errors         = {};
                this.sensorFormMode = 'edit';
                this.sensorForm     = { ...sensor };
                this.isSensorFormVisible = true;
                this.dispachSensor(sensor);
            },

            cancelSensorForm() {
                this.errors              = {};
                this.isSensorFormVisible = false;
            },

            async submitSensorForm() {
                const csrfToken      = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const url            = this.sensorFormMode === 'edit' ? `/api/sensors/${this.sensorForm.id}/` : '/api/sensors/';
                const method         = this.sensorFormMode === 'edit' ? 'PUT' : 'POST';
                this.sensorForm.user = user;
                try {
                    const response = await fetch(url, {
                        method: method,
                        headers: {'Content-Type': 'application/json','X-CSRFToken': csrfToken},
                        body: JSON.stringify(this.sensorForm)
                    });
                    if (response.ok) {
                        this.isSensorFormVisible = false;
                        await this.fetchSensors();
                    } else if (response.status === 400) {
                        // Handle validation errors
                        const errorData = await response.json();
                        this.errors = errorData; // Capture validation errors                        
                    } else {
                        console.error('Failed to submit sensor form');
                    }
                } catch (error) {
                    console.error('Error submitting sensor form:', error);
                }
            },

            selectSensor(sensor) {
                this.errors              = {};
                this.isSensorFormVisible = false;
                this.dispachSensor(sensor);
            },

            dispachSensor(sensor){
                // Dispatch a custom event when a sensor is selected
                window.dispatchEvent(new CustomEvent('sensor-selected', { 
                    detail: { 
                        sensorId  : sensor.id,
                        sensorName: sensor.name
                    } 
                }));
            },

            clearActions(sensor){
                // Dispatch a custom event when a sensor is selected
                window.dispatchEvent(new CustomEvent('clear-action'));
            },

            async deleteSensor(id) {
                const element = this.sensors.find(sensor => parseInt(sensor.id) === parseInt(id));
                const confirmed = window.confirm('Are you sure you want to delete '+element.name+'? This action cannot be undone.');
                if (!confirmed) return; 

                try {
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    const response  = await fetch(`/api/sensors/${id}/`, {
                        method: 'DELETE',
                        headers: {'X-CSRFToken': csrfToken, 'Content-Type': 'application/json'},
                        credentials: 'same-origin'
                    });
                    if (response.ok) {
                        await this.fetchSensors();
                        this.clearActions();
                    } else {
                        console.error('Failed to delete sensor', response.statusText);
                    }
                } catch (error) {
                    console.error('Error deleting sensor:', error);
                }
            }

        };
    }

    function actionData() {
        return {
            actions: [],
            actionForm: { sensor: this.selectedSensorId },
            isActionFormVisible: false,
            actionFormMode: 'add',
            errors: {},
            testResults: {},
            selectedSensorName: '',  // From sensorData(): To store the selected sensor's name
            selectedSensorId: null,  // From sensorData(): To store the selected sensor's ID 
            selectedActionId: null,  
            expectedValueText: 'Expected value:',
            
            // Visibility flags for the form fields
            showActionType    : false,
            showSeleniumScript: false,
            showPayload       : false,            

            // Initialize HTTP_VERBS and ASSERTION_TYPES as data properties
            HTTP_VERBS: [
                { value: 'GET', label: 'GET' },
                { value: 'POST', label: 'POST' },
                { value: 'PUT', label: 'PUT' },
                { value: 'DELETE', label: 'DELETE' },
                { value: 'PATCH', label: 'PATCH' },
                { value: 'HEAD', label: 'HEAD' },
                { value: 'OPTIONS', label: 'OPTIONS' },
                { value: 'TRACE', label: 'TRACE' }
            ],

            ASSERTION_TYPES: [
                { value: 'status_code', label: 'Status Code' },
                { value: 'contains_keyword', label: 'Contains Keyword' },
                { value: 'selenium', label: 'Selenium Style' },
                { value: 'screenshot', label: 'Take a screenshot' },
            ],            

            updateVisibilityFlags() {
                // Determine visibility of fields based on assertion type
                const assertionType = this.actionForm.assertion_type;
                if(assertionType){
                    this.showSeleniumScript = assertionType === 'selenium';
                    this.showActionType     = ['status_code', 'contains_keyword'].includes(assertionType);
                    this.showPayload        = ['status_code', 'contains_keyword'].includes(assertionType);
                }else{
                    this.showSeleniumScript = false;
                    this.showActionType     = true;
                    this.showPayload        = true;
                }
                if(!assertionType || assertionType === 'status_code'){
                    this.expectedValueText = 'Expected value:';
                }else{
                    this.expectedValueText = 'Keyword:';
                }
                
            },

            async fetchActions(sensorId) {
                try {
                    const response = await fetch(`/api/actions/?sensor=${sensorId}`);
                    if (response.ok) {
                        this.actions = await response.json();
                        this.actions.map(action => {
                            if (action.latest_test_result) {
                                if (
                                    action.latest_test_result.expected_value === action.latest_test_result.actual_value ||
                                    action.latest_test_result.actual_value   === 'pass'
                                ) {
                                    action.img = "/static/img/pass.png";
                                } else {
                                    action.img = "/static/img/fail.png";
                                }
                            } else {
                                // Default image when there's no test result available
                                action.img = "/static/img/pixel.png";
                            }
                            action.runTest = false;
                            return action;
                        });                        
                    } else {
                        console.error('Failed to fetch actions');
                    }
                } catch (error) {
                    console.error('Error fetching actions:', error);
                }
            },

            clearActions() {
                this.actions = [];
            },

            init() {
                // Listen for the custom event and fetch actions based on the selected sensor
                window.addEventListener('sensor-selected', async (event) => {
                    this.clearActions();
                    await this.fetchActions(event.detail.sensorId);
                    this.updateVisibilityFlags();
                    this.actionForm.sensor   = event.detail.sensorId;
                    this.selectedSensorId    = event.detail.sensorId;
                    this.selectedSensorName  = event.detail.sensorName;
                    this.isActionFormVisible = false;
                });
                window.addEventListener('clear-action', (event) => {
                    this.clearActions();
                    this.isActionFormVisible = false;
                    this.actionForm.sensor   = null;
                    this.selectedSensorId    = null;
                    this.selectedSensorName  = null;                
                });
                this.updateHash(window.location.hash);
                window.addEventListener('SensorHashchange', () => {this.updateHash(window.location.hash);});                                
            },

            async updateHash(hash) {
                if (hash) {
                    let url_hash = hash.substring(1).split('-');
                    if(url_hash[0] && url_hash[1]){
                        await this.fetchActions(url_hash[0]); //Get the sensor fomr URL first
                        this.selectedActionId = url_hash[1];
                        setTimeout(() => {
                            this.editAction(this.selectedActionId)   
                        }, 500);
                        return
                    }
                }
                this.selectedId = null; // Reset if there's no hash
                return
            },

            showAddActionForm() {
                this.errors              = {};
                this.actionFormMode      = 'add';
                this.actionForm          = { sensor: this.selectedSensorId };
                this.isActionFormVisible = true;
                this.updateVisibilityFlags();
            },

            editAction(action) {
                this.errors              = {};
                this.actionFormMode      = 'edit';
                this.isActionFormVisible = true;
                this.updateVisibilityFlags();

                if(!action.id){
                    // the action ID is passed
                    const element = this.actions.find(act => parseInt(act.id) === parseInt(action));
                    console.log("the action ID is passed",element)
                    this.actionForm  = { ...element };
                }else{
                    // the action object is passed
                    console.log("the action object is passed",action)
                    this.actionForm  = { ...action };
                }
            },

            cancelActionForm() {
                this.isActionFormVisible = false;
            },

            async submitActionForm() {
                const csrfToken     = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const url           = this.actionFormMode === 'edit' ? `/api/actions/${this.actionForm.id}/` : '/api/actions/';
                const method        = this.actionFormMode === 'edit' ? 'PUT' : 'POST';
                const updated_action = {...this.actionForm};
                updated_action.sensor = this.selectedSensorId
                try {
                    const response = await fetch(url, {
                        method: method,
                        headers: {'Content-Type': 'application/json','X-CSRFToken': csrfToken},
                        body: JSON.stringify(updated_action)
                    });
                    if (response.ok) {
                        this.isActionFormVisible = false;
                        await this.fetchActions(this.selectedSensorId); // Ensure actions are refreshed
                    } else if (response.status === 400) {
                        // Handle validation errors
                        const errorData = await response.json();
                        this.errors = errorData; // Capture validation errors                          
                    } else {
                        console.error('Failed to submit action form');
                    }
                } catch (error) {
                    console.error('Error submitting action form:', error);
                }
            },

            async deleteAction(id) {
                const element = this.actions.find(action => parseInt(action.id) === parseInt(id));
                const confirmed = window.confirm('Are you sure you want to delete '+element.action_name+'? This action cannot be undone.');
                if (!confirmed) return; 
                try {
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    const response  = await fetch(`/api/actions/${id}/`, {
                        method: 'DELETE',
                        headers: {'X-CSRFToken': csrfToken, 'Content-Type': 'application/json'},
                        credentials: 'same-origin'
                    });
                    if (response.ok) {
                        this.clearActions();
                        await this.fetchActions(this.selectedSensorId)
                    } else {
                        console.error('Failed to delete action', response.statusText);
                    }
                } catch (error) {
                    console.error('Error deleting action:', error);
                }
            },
            
            async runTest(id) {
                const element = this.actions.find(action => parseInt(action.id) === parseInt(id));
                element.runTest = true;
                const result = await testAction(id,(result)=>{
                    this.testResults = { ...this.testResults, [id]: result };
                });
            },
            
            formatAssertionType(id){
                const element = this.actions.find(action => parseInt(action.id) === parseInt(id));
                let txt = ''
                txt = element.assertion_type.replace(/_/g, ' ').replace(/\b\w/g, char => char.toUpperCase())
                txt = txt.replace('Selenium','Selenium Style');
                return txt
            }
        };
    }
</script>

{% endblock %}
