{% extends "monitor_base.html" %}
{% load static %}
{% load form_tags %}
{% block content %}

<!-- Search input for filtering -->
<div class="row">
    <div class="col-4">
        <h1>Filter&nbsp;Sensors</h1>
        <input type="text" id="search-sensor-input" class="form-control" placeholder="Search by Name..." />
    </div>
    <div class="col-2">
        <h1>&nbsp;</h1>
        <div class="row">
            <div class="col-4">
                <i class="bi bi-arrow-clockwise" style="font-size: x-large; cursor: pointer;" id="reload"></i>
                <div class="spinner-border spinner-border text-secondary" role="status" id="spinner"
                    style="color:rgb(191 204 216) !important;display:none">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h1>Timezone</h1>
        <select class="form-control" id="timezone"></select>
    </div>
</div>

<h1>List of Sensors</h1>
<table id="sensor-table" class="table table-sm table-striped mt-3">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">URL</th>
            <th class="text-center">Frequency</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be populated here by AJAX -->
    </tbody>
</table>

<script>
    function createSensorRow(sensor){
        return `<tr>
                <td>${sensor.name}</td>
                <td>${sensor.url}</td>
                <td class="text-center">${sensor.frequency}</td>
                <td class="text-center">${sensor.actions_count}
                <td nowrap>${createActionButtons(sensor)}</td>
            </tr>`;
    }

    function createActionButtons(sensor) {
        let html = ''
        html += `<a href="#" class="sensor-delete-btn text-dangermx-2" data-sensor-id="${sensor.id}"><i class="bi bi-trash3-fill"></i></a>`;
        html += `<a href="/sensor/${sensor.id}/" class="sensor-edit-btn text-success mx-2"><i class="bi bi-pencil-square"></i></a>`;
        return html
    }
  
</script>
{% endblock %}