{% extends "monitor_base.html" %}
{% load static %}
{% load form_tags %}
{% block content %}
<h1>Add New Sensor</h1>
        
<!-- Form to add new Sensor -->
<form id="sensor-create-form" class="mb-5">
    <div class="mb-3">
        <label for="name" class="form-label">Sensor Name:</label><span class="require">*</span>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Base URL:</label><span class="require">*</span>
        <input type="url" id="url" name="url" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="frequency" class="form-label">Frequency (minutes):</label><span class="require">*</span>
        <input type="number" id="frequency" name="frequency" class="form-control" required>
    </div>
    <button type="button" id="create-sensor" class="btn btn-primary">Create Sensor</button>
</form>
</div>

<script>
$(document).ready(function() {
    // Create new Sensor
    $('#create-sensor').click(function() {
        const data = {
            name: $('#sensor-create-form #name').val(),
            url: $('#sensor-create-form #url').val(),
            frequency: $('#sensor-create-form #frequency').val(),
        };
        $.ajax({
            url: '/api/sensor/',
            method: 'POST',
            contentType: 'application/json',
            headers: {'X-CSRFToken': Cookies.get('csrftoken')},
            data: JSON.stringify(data),
            success: function(response) {
                alert('Sensor created successfully!');
                window.location.href = '/sensor/';
            },
            error: function(error) {
                console.error('Error creating sensor:', error);
                alert('Failed to create sensor.');
            }
        });
    });
});
</script>
{% endblock %}
