{% extends "monitor_base.html" %}
{% load static %}
{% load form_tags %}
{% block content %}


<h1 class="pl-3">Edit Sensor</h1>
<!-- Section 1: Form to update main Sensor properties -->
<div class="row mb-4 mx-3 box p-3">
    <div class="col-7 align-top">
        <form id="sensor-edit-form">
            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" id="name" name="name" class="form-control  form-control-sm" value="{{ sensor.name }}" required>
                    </div>                    
                </div>
                <div class="col-5">
                    <div class="mb-2">
                        <label for="frequency" class="form-label">Frequency:</label>
                        <input type="number" id="frequency" name="frequency" class="form-control  form-control-sm" value="{{ sensor.frequency }}" required>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="url" class="form-label">Base URL:</label>
                        <input type="url" id="url" name="url" class="form-control  form-control-sm" value="{{ sensor.url }}" required>
                    </div>
                </div>
                <div class="col-5">
                    <button type="button" id="update-sensor" class="btn btn-primary btn-sm mt-4">Save</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-5 align-top context-doc doc1">
        Laboris voluptate sint labore ex ipsum ea aliquip qui laboris reprehenderit officia anim amet. Laboris ipsum est qui ut commodo culpa ex proident veniam amet sit magna. Quis in consectetur aute nisi eiusmod pariatur ex dolor dolor excepteur cillum duis. Enim duis aliqua dolore qui quis. Ad voluptate ea adipisicing do reprehenderit est sint in est nostrud magna cillum proident incididunt. Aliquip enim excepteur eiusmod exercitation mollit ipsum tempor dolore labore voluptate cillum enim elit ullamco. Aliquip et ut ipsum dolore aliqua consequat sint tempor aute ad.
        Labore eu qui aliqua et labore ipsum. Ut et nisi cillum quis nostrud. Nulla laborum pariatur ut deserunt. Adipisicing aliquip laborum proident ex eu sint sit est. Labore culpa anim dolor aute non. Pariatur aute est voluptate voluptate nostrud deserunt Lorem.
    </div>    
</div>    

<!-- Section 2: List of all actions linked to this Sensor -->
<h1>Actions</h1>
<div class="row mb-4 mx-3 box p-3">
    <table id="action-table" class="table table-bordered">
        <tbody>
            <!-- Data will be populated here by AJAX -->
        </tbody>
    </table>
    <div class="row">
        <div class="col-3">
            <button type="button" id="add-new-action" class="btn btn-success btn-sm mt-3">Add New Action</button>
        </div>
    </div>
</div>

<!-- Section 3: Form to add or edit an Action -->
<h1 id="addEditActionTitle">New Action</h1>
<div class="row mb-4 mx-3 box p-3">
    <div class="col-7 align-top">
        <div id="action-form-container">
            <form id="action-form">
                <input type="hidden" id="action-id" name="action_id">
                <div class="mb-2">
                    <label for="action_name" class="form-label">Action Name:</label><span class="require">*</span>
                    <input type="text" id="action_name" name="action_name" class="form-control form-control-sm" required>
                </div>
                <div class="mb-2">
                    <label for="action_path" class="form-label">Action Path:</label><span class="require">*</span>
                    <input type="text" id="action_path" name="action_path" class="form-control form-control-sm" required>
                </div>

                <div class="mb-2">
                    <label for="action_type" class="form-label">Action Type:</label><span class="require">*</span>
                    <select id="action_type" name="action_type" class="form-select form-select-sm" required>
                        <option value="GET"    >GET</option>
                        <option value="POST"   >POST</option>
                        <option value="PUT"    >PUT</option>
                        <option value="DELETE" >DELETE</option>
                        <option value="PATCH"  >PATCH</option>
                        <option value="HEAD"   >HEAD</option>
                        <option value="OPTIONS">OPTIONS</option>
                        <option value="TRACE"  >TRACE</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="assertion_type" class="form-label">Assertion Type:</label><span class="require">*</span>
                    <select id="assertion_type" name="assertion_type" class="form-select form-select-sm" required>
                        <option value="status_code"     >Status Code</option>
                        <option value="contains_keyword">Contains Keyword</option>
                        <option value="selenium"        >Selenium Style</option>
                        <option value="json_key_exists" >JSON Key Exists</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="expected_value" class="form-label">Expected Value:</label><span class="require">*</span>
                    <input type="text" id="expected_value" name="expected_value" class="form-control form-control-sm" required>
                </div>
                <div id="selenium-section" class="mb-2" style="display: none;">
                    <label for="selenium_script" class="form-label">Selenium style:</label>
                    <textarea id="selenium_script" name="selenium_script" class="form-control form-control-sm" rows="5"></textarea>
                </div>                
                <div id="payload-section" class="mb-2">
                    <label for="payload" class="form-label">Payload:</label>
                    <textarea id="payload" name="payload" class="form-control form-control-sm" rows="5"></textarea>
                </div>

                <button type="button" id="save-action" class="btn btn-sm btn-primary">Save Action</button>
                <button type="button" id="test-action" class="btn btn-sm btn-primary">Test Action</button>
                
            </form>
        </div>
    </div>

    <div class="col-5 align-top context-doc doc2" id="test-result">
        Laboris voluptate sint labore ex ipsum ea aliquip qui laboris reprehenderit officia anim amet. Laboris ipsum est qui ut commodo culpa ex proident veniam amet sit magna. Quis in consectetur aute nisi eiusmod pariatur ex dolor dolor excepteur cillum duis. Enim duis aliqua dolore qui quis. Ad voluptate ea adipisicing do reprehenderit est sint in est nostrud magna cillum proident incididunt. Aliquip enim excepteur eiusmod exercitation mollit ipsum tempor dolore labore voluptate cillum enim elit ullamco. Aliquip et ut ipsum dolore aliqua consequat sint tempor aute ad.
        Labore eu qui aliqua et labore ipsum. Ut et nisi cillum quis nostrud. Nulla laborum pariatur ut deserunt. Adipisicing aliquip laborum proident ex eu sint sit est. Labore culpa anim dolor aute non. Pariatur aute est voluptate voluptate nostrud deserunt Lorem.

        Laboris voluptate sint labore ex ipsum ea aliquip qui laboris reprehenderit officia anim amet. Laboris ipsum est qui ut commodo culpa ex proident veniam amet sit magna. Quis in consectetur aute nisi eiusmod pariatur ex dolor dolor excepteur cillum duis. Enim duis aliqua dolore qui quis. Ad voluptate ea adipisicing do reprehenderit est sint in est nostrud magna cillum proident incididunt. Aliquip enim excepteur eiusmod exercitation mollit ipsum tempor dolore labore voluptate cillum enim elit ullamco. Aliquip et ut ipsum dolore aliqua consequat sint tempor aute ad.
        Labore eu qui aliqua et labore ipsum. Ut et nisi cillum quis nostrud. Nulla laborum pariatur ut deserunt. Adipisicing aliquip laborum proident ex eu sint sit est. Labore culpa anim dolor aute non. Pariatur aute est voluptate voluptate nostrud deserunt Lorem.

        Laboris voluptate sint labore ex ipsum ea aliquip qui laboris reprehenderit officia anim amet. Laboris ipsum est qui ut commodo culpa ex proident veniam amet sit magna. Quis in consectetur aute nisi eiusmod pariatur ex dolor dolor excepteur cillum duis. Enim duis aliqua dolore qui quis. Ad voluptate ea adipisicing do reprehenderit est sint in est nostrud magna cillum proident incididunt. Aliquip enim excepteur eiusmod exercitation mollit ipsum tempor dolore labore voluptate cillum enim elit ullamco. Aliquip et ut ipsum dolore aliqua consequat sint tempor aute ad.
        Labore eu qui aliqua et labore ipsum. Ut et nisi cillum quis nostrud. Nulla laborum pariatur ut deserunt. Adipisicing aliquip laborum proident ex eu sint sit est. Labore culpa anim dolor aute non. Pariatur aute est voluptate voluptate nostrud deserunt Lorem.

        Laboris voluptate sint labore ex ipsum ea aliquip qui laboris reprehenderit officia anim amet. Laboris ipsum est qui ut commodo culpa ex proident veniam amet sit magna. Quis in consectetur aute nisi eiusmod pariatur ex dolor dolor excepteur cillum duis. Enim duis aliqua dolore qui quis. Ad voluptate ea adipisicing do reprehenderit est sint in est nostrud magna cillum proident incididunt. Aliquip enim excepteur eiusmod exercitation mollit ipsum tempor dolore labore voluptate cillum enim elit ullamco. Aliquip et ut ipsum dolore aliqua consequat sint tempor aute ad.
        Labore eu qui aliqua et labore ipsum. Ut et nisi cillum quis nostrud. Nulla laborum pariatur ut deserunt. Adipisicing aliquip laborum proident ex eu sint sit est. Labore culpa anim dolor aute non. Pariatur aute est voluptate voluptate nostrud deserunt Lorem.

        Laboris voluptate sint labore ex ipsum ea aliquip qui laboris reprehenderit officia anim amet. Laboris ipsum est qui ut commodo culpa ex proident veniam amet sit magna. Quis in consectetur aute nisi eiusmod pariatur ex dolor dolor excepteur cillum duis. Enim duis aliqua dolore qui quis. Ad voluptate ea adipisicing do reprehenderit est sint in est nostrud magna cillum proident incididunt. Aliquip enim excepteur eiusmod exercitation mollit ipsum tempor dolore labore voluptate cillum enim elit ullamco. Aliquip et ut ipsum dolore aliqua consequat sint tempor aute ad.
        Labore eu qui aliqua et labore ipsum. Ut et nisi cillum quis nostrud. Nulla laborum pariatur ut deserunt. Adipisicing aliquip laborum proident ex eu sint sit est. Labore culpa anim dolor aute non. Pariatur aute est voluptate voluptate nostrud deserunt Lorem.
    </div>
</div>

<script>
$(document).ready(function() {
    const sensorId = parseInt('{{ sensor.id }}');
    // Update Sensor properties
    $('#update-sensor').click(function() {
        const data = {
            name: $('#sensor-edit-form #name').val(),
            url: $('#sensor-edit-form #url').val(),
            frequency: $('#sensor-edit-form #frequency').val(),
        };
        $.ajax({
            url: `/api/sensor/${sensorId}/`,
            method: 'PUT',
            contentType: 'application/json',
            headers: {'X-CSRFToken': Cookies.get('csrftoken')},
            data: JSON.stringify(data),
            success: function(response) {
                console.log('Sensor updated successfully!');
            },
            error: function(error) {
                console.error('Error updating sensor:', error);
                alert('Failed to update sensor.');
            }
        });
    });

    // Load Actions LIST 
    function loadActions() {
        $.ajax({
            url: `/api/action/?sensor=${sensorId}`,
            method: 'GET',
            success: function(data) {
                let tableContent = '';
                data.forEach(function(action) {
                    tableContent += `<tr>
                        <td>${action.action_name}</td>
                        <td>${action.action_type}</td>
                        <td>${action.action_path}</td>
                        <td nowrap width="1">
                            <a class="edit-action text-black mx-1" data-id="${action.id}"><i class="bi bi-pencil-square"></i></a>
                            <a class="delete-action text-danger mx-1" data-id="${action.id}"><i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>`;
                });
                $('#action-table tbody').html(tableContent);
            },
            error: function(error) {
                console.error('Error fetching actions:', error);
            }
        });
    }
    loadActions();

    function clearActionForm(){
        $('#addEditActionTitle').html('New Action')
        $('#action-id').val(null);
        $('#action-form')[0].reset();
        $('#selenium-section').hide();
        $('#action-form-title').text('New Action');        
    }

    // Handle add new action button click
    $('#add-new-action').click(function() {
        clearActionForm()
    });    


    function saveAction(callback) {
        const actionId = $('#action-id').val();
        let method     = null;
        let url        = null;

        if(actionId){
            url = `/api/action/${actionId}/`;
            method = 'PUT';
        }else{
            url = `/api/action/`;
            method = 'POST';
        }
        // Client-side validation
        const actionName      = $('#action_name').val();
        const actionType      = $('#action_type').val();
        const actionPath      = $('#action_path').val();
        const assertionType   = $('#assertion_type').val();
        const payload         = $('#payload').val();
        const selenium_script = $('#selenium_script').val().replace(/\\"/g, '"');
        let expectedValue   = $('#expected_value').val();

        if (!actionName || !actionType || !actionPath || !assertionType || !expectedValue) {
            alert('Please fill in all required fields before saving.');
            return;
        }

        const actionData = {
            action_name     : actionName,
            action_type     : actionType,
            action_path     : actionPath,
            assertion_type  : assertionType,
            expected_value  : expectedValue,
            payload         : payload,
            selenium_script : selenium_script,
            sensor          : sensorId,
        };

        $.ajax({
            url: url,
            method      : method,
            contentType : 'application/json',
            headers     : {'X-CSRFToken': Cookies.get('csrftoken')},
            data        : JSON.stringify(actionData),
            success: function(response) {
                console.log('Action saved successfully!');
                loadActions();
                if (callback) callback(response.id);
                // clearActionForm()
            },
            error: function(error) {
                console.error('Error saving action:', error);
                if (error.status === 400) {
                    alert('Validation failed.' + error.responseText);
                } else {
                    alert('An unexpected error occurred while saving the action.');
                }
            }
        });  
    }

    // Add or Edit Action
    $('#save-action').click(function() {
        saveAction();
    });

    $('#test-action').click(function() {
        const actionId = $('#action-id').val();
        $('#test-result').html('');
        saveAction(function(actionId) {
            // Then, execute the test action
            $.ajax({
                url: `/api/action/${actionId}/run/`,
                type: 'POST',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                success: function(response) {

                    const { response: resp, message: msg } = response;
                    console.log(resp, resp.expected_value, resp.actual_value);

                    let html = `<h3>${msg}</h3>`;
                    if(resp.expected_value === resp.actual_value || resp.actual_value == 'pass'){
                        html +='<p>&nbsp;</p><p><img src="/static/img/pass.png" width="90"></p>';
                    }else{
                        '<p>&nbsp;</p><p><img src="/static/img/fail.png" width="90"></p>';
                    }
                    $('#test-result').html(`${html}<br><br><pre>${JSON.stringify(resp, null, 2)}</pre>`);                    
                    

                },
                error: function(xhr, status, error) {
                    $('#test-result').html(xhr.responseJSON.error)
                }
            });
        });
    });

    // Show or hide selenium field based on assertion type
    $('#assertion_type').change(function() {
        if ($(this).val() === 'selenium') {
            $('#selenium-section').show();
            $('#payload-section').hide();
            $('#payload-section').hide();
        } else {
            $('#selenium-section').hide();
            $('#payload-section').show();
        }
    });

    // Handle edit action button click
    $(document).on('click', '.edit-action', function() {
        $('#addEditActionTitle').html(`Edit `);
        $('#test-result').html('');

        const actionId = $(this).data('id');
        $.ajax({
            url: `/api/action/${actionId}/`,
            method: 'GET',
            success: function(action) {
                $('#addEditActionTitle').html(`Edit "${action.action_name}"`);
                $('#action-id').val(action.id);
                $('#action_path').val(action.action_path);
                $('#action_name').val(action.action_name);
                $('#action_type').val(action.action_type);
                $('#assertion_type').val(action.assertion_type);
                if (action.assertion_type == "selenium") {
                    $('#selenium-section').show();
                    $('#payload-section').hide();
                    $('#selenium_script').val(action.selenium_script);
                    $('#expected_value').val('pass');
                    $('#payload').val('');
                } else {
                    $('#selenium-section').hide();
                    $('#payload-section').show();
                    $('#selenium_script').val('');
                    $('#payload').val(action.payload);
                    $('#expected_value').val(action.expected_value);
                }
                $('#action-form-title').text('Edit Action');
            },
            error: function(error) {
                console.error('Error fetching action details:', error);
            }
        });
    });

    // Handle delete action button click
    $(document).on('click', '.delete-action', function() {
        const actionId = $(this).data('id');
        if (confirm('Are you sure you want to delete this action?')) {
            $.ajax({
                url: `/api/action/${actionId}/`,
                method: 'DELETE',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                success: function() {
                    loadActions();
                },
                error: function(error) {
                    console.error('Error deleting action:', error);
                    alert('Failed to delete action.');
                }
            });
        }
    });

});
</script>
{% endblock %}