a.title{
    text-decoration: none;
    color: black;
}
footer > div > a{
    color:black;
    text-decoration: none;
}
footer > div > a:visited{
    color:black;
}
body{
    padding-bottom:100px    
}

.btn, 
.form-control, 
.form-select,
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]){
    border-radius: 3px;
    padding: .15rem .55rem;
}
.navbar-expand-sm {
    padding: 0;
}
.border {
    border: 4px solid #c5c5c5 !important;
}

.form-control {
    border: 1px solid #4e5761;
    background-color: #f3f3f3;
    margin-bottom: 0px;
}
textarea.form-control {
    font-size: 0.8rem;
    background-color: #f3f3f3;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    font-size: 0.8rem;
    background-color: #f3f3f3;
}
.form-label{
    margin-bottom: 0;
    font-weight: 800;
    margin-bottom: 0;
    font-size: 0.7rem;
}
.form-select {
    font-size: 0.8rem;
    background-color: #f3f3f3;
    border: 1px solid #4e5761;
}
.table-row-light{
    background-color: rgba(0, 0, 0, .05);
    font-size: 0.8rem;
}
.table-row-dark{
    background-color: rgba(222, 215, 215, 0.05);
    font-size: 0.8rem;
}
.table>:not(caption)>*>* {
    background-color: transparent;
}


h1 {
    font-size: 1.6rem !important;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    margin: 0;
    padding:0;
    padding-left: 20px;
    padding-bottom: 5px;
}

h2 {
    font-size: 1.3rem !important;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    margin: 0;
}

h3 {
    font-size: 1rem !important;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    margin: 0;
}
h3.board {
    font-size: 0.7rem !important;
    font-weight: 700;
}
.row.databox {
    margin-top: 20px;
    border: 2px solid gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 5px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 5px 1px;
    background-color: white;
    padding: 0px 0 10px 0;
}
.card{
    border: none;
}

.card-header {
    background-color:#dcecd8;
    padding: 8px 10px 0px 20px !important;
}
.card-header h5 {
    padding: 0px 0px 0px 7px;
    background-color: #dcecd8;
    border-radius: 3px;
    font-weight: 700;
    color: #377f4b;
    font-style: italic;
}
.card-body{
    padding:10px
}

.card-header a {
    color: #2a5579;
    font-size: 0.9rem;
    margin-right: 15px;
    margin-top: 3px;
    float: right;
}

.chart-container {
    opacity: 1;
    transition: opacity 0.5s ease-in; /* Only use a transition for fading in */
}

.chart-container.hidden {
    opacity: 0;
    transition: opacity 0s; /* No transition for fade-out, making it instant */
}

span.frequency{
    font-size: 0.7rem;
}

#test-result h3{
    margin-top:10px;
}

.action-graph {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 5px 0px 0px 10px;
    border: 1px solid #a9a9a9;
}
.board-test-img{
    display: inline;
}
.image-board {
    height: 90px;
    overflow: scroll;
    position: relative;
}

.bi-arrow-clockwise::before{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 900 !important;
    font-size: 2rem;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.listurl {
    padding: 3px 0px 0 9px;
    font-size: 0.8rem;
    font-weight: 800;
}

.logout{
    display: block;
    /* display: inline; */
    padding: 8px 0px 0px 41px;
    height: 10px;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 9px;
}
.logout a, .logout a:visited{
    color:black;
}

.require {
    font-size: 0.8rem;
    font-weight: 700;
    color: #c40000;
}
.context-doc{
    font-size: 0.75rem;
    overflow: scroll;
}
.doc1{
    max-height: 140px;
}
.doc2{
    max-height: 450px;
}
/* Border boxes */
.box {
    position: relative;
    padding: 2px;
    backdrop-filter: blur(10px);
}
.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    border: 2px solid transparent;
    background: linear-gradient(140deg, rgb(68 107 156), #7f96df, #66d32f, green, indigo, #263d73) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1000;
}


/* Border boxes */
.box2 {
    position: relative;
    padding: 10px 9px 15px 10px;
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
}
.box2 .text-danger{
    font-size: 0.8rem;
}
.box2 .box-content {
    padding: 10px 7px 0px 5px;
}
.box2 table {
    padding: 0;
    margin:0;
}
.box2 h2 {
    padding: 10px 0px 10px 20px;
    background-color: #dcecd8;
    border-radius: 3px;
    font-weight: 700;
    color: #377f4b;
}
.box2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    border: 2px solid transparent;
    background: linear-gradient(140deg, rgb(9 40 80), #7f96df, #56ff00, green, #2a0c41, #263d73) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1000;
}

footer{
    font-size: 0.7rem;
}
nav{
    font-size: 0.8rem;
}
.actionUrl{
    font-size: 0.8rem;
}