{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src='{% static "img/logo.png" %}' height="45"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'web_board' %}">Board</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'web_config' %}">Config</a></li>
                <li class="nav-item"><a class="nav-link" href="/swagger">API</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile'%}">{{user}}</a></li>
                {% if user.is_superuser %}<li class="nav-item"><a class="nav-link" href="/{{ ADMIN_URL }}/"><b>Admin</b></a></li>{% endif %}
            </ul>
            <form class="d-flex ms-auto" id="logout-form" method="POST" class="logout" action="{% url 'logout' %}">
                <select class="form-control ml-2 me-2" id="timezone" x-model="selectedTimezone" @change="fetchSensors" style="font-size: 0.7rem; max-width: 150px;"></select>
                {% if user %}
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"><i class="bi bi-box-arrow-right text-black"></i></a>
                {% endif %}                    
            </form>
        </div>
    </div>
</nav>