{% extends "website_base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-md-10">
        <h1 class="mb-4">Privacy Policy</h1>
        <p class="lead">We value your privacy and are committed to protecting your personal information. This
            Privacy Policy explains how we collect, use, and safeguard your data when you use our Django
            application to monitor websites and APIs. By using our services, you agree to the terms outlined
            here.</p>

        <h3>1. Information We Collect</h3>
        <p><strong>User-Provided Information:</strong> When you sign up or input URLs for monitoring, we collect
            information such as your name, email address, and website details.</p>
        <p><strong>Automatically Collected Information:</strong> We gather data such as your IP address, browser
            type, and usage information to enhance our service performance.</p>

        <h3>2. How We Use Your Information</h3>
        <ul>
            <li>To provide and maintain our service, including monitoring uptime and analyzing website
                performance.</li>
            <li>To communicate with you regarding updates, notifications, or technical issues.</li>
            <li>To improve user experience by analyzing usage patterns and troubleshooting.</li>
        </ul>

        <h3>3. Sharing of Information</h3>
        <p>We do not sell or share your personal data with third parties except as required by law or to protect
            the rights and security of our application and users.</p>

        <h3>4. Data Security</h3>
        <p>We employ industry-standard security measures, such as encryption and secure data storage, to protect
            your information. Access to your data is restricted to authorized personnel only.</p>

        <h3>5. User Rights</h3>
        <p>You have the right to access, correct, or delete your personal information. If you wish to make any
            changes, please contact us, and we will take the necessary actions as soon as possible.</p>

        <h3>6. Changes to This Policy</h3>
        <p>We may update this Privacy Policy periodically to reflect changes in our practices or legal
            obligations. We will notify you of any significant updates.</p>

        <h3>7. Contact Us</h3>
        <p>If you have questions or concerns about this Privacy Policy, please <a href="{% url 'contact'%}">reach out to us</a>

    </div>
</div>

{% endblock %}