{% extends "website_base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<h1 class="mb-4">Djanguard Terms of Service</h1>
<div class="card-body">
    <h5 class="mt-4">1. Acceptance of Terms</h5>
    <p>By accessing or using Djanguard, you agree to these Terms of Service, along with our Privacy Policy. If you do
        not agree, please do not use our services.</p>

    <h5 class="mt-4">2. Description of Service</h5>
    <p>Djanguard provides monitoring services for websites. Our API functionality is a work in progress, and we are
        working to implement it as resources allow. As a small team with limited resources, we are continually improving
        and expanding our services. We do not currently provide an API, but plan to introduce this feature in the
        future. We monitor uptime and performance, allowing you to track the status of your online assets.</p>

    <h5 class="mt-4">3. User Responsibilities</h5>
    <ul>
        <li><strong>Accurate Information:</strong> You agree to provide accurate and complete information when signing
            up for our services.</li>
        <li><strong>Prohibited Activities:</strong> You may not use our services for illegal activities, to harm others,
            or to interfere with our system's integrity.</li>
        <li><strong>Account Security:</strong> You are responsible for maintaining the confidentiality of your account
            credentials.</li>
    </ul>

    <h5 class="mt-4">4. Service Availability</h5>
    <p>While we strive to provide reliable and uninterrupted services, we do not guarantee 100% uptime. Scheduled
        maintenance and unexpected outages may occur, and Djanguard is not liable for any losses resulting from service
        interruptions.</p>

    <h5 class="mt-4">5. Limitations of Liability</h5>
    <p>Djanguard is not liable for any direct, indirect, incidental, or consequential damages that may arise from your
        use of the service. Our services are provided "as is" without any warranties.</p>

    <h5 class="mt-4">6. Termination</h5>
    <p>We reserve the right to suspend or terminate your access to our services at our discretion, especially if you
        violate these terms. We may also terminate any account using the service for purposes other than monitoring.</p>

    <h5 class="mt-4">7. Changes to Terms</h5>
    <p>We may update these Terms of Service periodically. Any changes will be posted here, and continued use of our
        services indicates your acceptance of those changes.</p>

    <h5 class="mt-4">8. Governing Law</h5>
    <p>These terms shall be governed by and construed in accordance with the laws of the jurisdiction in which Djanguard
        operates.</p>

    <h5 class="mt-4">9. Contact Us</h5>
    <p>If you have any questions regarding these Terms of Service, please <a href="{% url 'contact'%}">contact us.</a></p>
</div>

{% endblock %}